@model Burger

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>

<div class="row">
    <div class="col s12 m6">
        @Model.Name
    </div>
    <div class="col s12 m6">
        @Model.Price &euro;
    </div>
    <div class="col s12">
        @Model.Description
    </div>
    <div class="com s12 m6">
        Poid total : @Model.Weight g
    </div>
    <div class="col s12 m6">
        Poid du steak : @Model.BeefWeight g
    </div>
</div>
